.BaseLine {
    margin-bottom: 2em;
}

.cliInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
}

.cliInput:focus{
    outline: none;
}

.greenText {
    color: green;
}
.purpleText {
    color: purple;
}
.goldText {
    color: gold;
}

.dollarSign {
    user-select: none;
}