.BaseLine {
    margin-bottom: 2em;
}

.cliInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    background-color: black;
    color: white;
    border: none;
    font-family: 'VT323';
    font-size: 1rem;
    letter-spacing: 0.1rem;;
}

.cliInput:focus{
    outline: none;
}

.greenText {
    color: green;
}
.purpleText {
    color: purple;
}
.goldText {
    color: gold;
}

.dollarSign {
    user-select: none;
}

.folder {
    color: rgb(101, 101, 238);
}

.breakText{
    white-space: pre-wrap;
}