.CLI {
    border: solid 4px rgb(56, 56, 56);
    height: 450px;
    width: 90%;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* command line window top styles */

.cliHead {
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    color: lightgray;
    padding: 3px 1px 7px 1px;
    font-family: Calibri, sans-serif;
    user-select: none;
}
.headInfo, .headButtons {
    display: flex;
    align-items: center;
}

.headButtons {
    gap: 1px;
}

.winBtn {
    display: flex;
    border: solid 1px black;
    width: 30px;
    height: 18px;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    box-shadow: 0 0 1px darkgray;
    color: lightgray;
}

.winBtn:hover {
    color: white;
}

.closeBtn {
    background-color: rgb(129, 37, 37);
}


.headIcon {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

/* command line window body/content styles */

.cliBody {
    flex: 1;
    background-color: black;
    color: white;
    overflow-y:scroll;
    font-family: 'VT323', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 5px;
}
